@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-secondary: #2f5c70;
  --color-primary: #24a7e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}
/* .steps {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.steps {
  background:var(--color-primary);
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* break points */

/* general classes */

.container-custom {
  width: 100%;
}
@media (min-width: 640px) {
  .container-custom {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container-custom {
    max-width: 80vw;
  }
}
@media (min-width: 1024px) {
  .container-custom {
    max-width: 70vw;
  }
}
@media (min-width: 1280px) {
  .container-custom {
    max-width: 70vw;
  }
}
/* @media (min-width: 1536px) {
  .container-custom {
      max-width: 1536px;
  }
} */
.h-80 {
  height: 80vh;
}


/* colors */

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}
.test-border {
  border: 1px solid red;
}
